.profile__edit-button {
    margin-left: 18px;
    width: 24px;
    justify-content: center;
    align-items: center;
    height: 24px;
    display: flex;
    margin-top: 15px;
    border: 1px solid white;
    box-sizing: border-box;
    background-color: black;
}

@media (max-width: 767px) {
    .profile__edit-button {
        position: absolute;
        margin: 0;
        top: 8px;
        right: -28px;
        width: 18px;
        height: 18px;
    }
}

.profile__edit-button:hover {
    opacity: 0.6;
}

.profile__edit-button:focus {
    outline: none;
}