.header__logo {
    background-image: url("../../../../images/logo-header.svg");
    width: 142px;
    height: 33px;
    display: block;
    margin-bottom: 41px;
    background-size: 100%;
}

@media (max-width: 767px) {
    .header__logo {
        width: 104px;
        height: 24px;
        margin-bottom: 31px;
        margin-left: 27px;
    }
}
