.popup__container {
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: white;
    max-width: 430px;
    top: 195px;
    border-radius: 10px;
}

@media (max-width: 767px) {
    .popup__container {
        margin: 0 19px 0;
    }
}