.places__title {
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 29px;
    text-align: left;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}