.places__card {
    border-radius: 10px;
    background-color: white;
    overflow: hidden;
    display: block;
}

@media (max-width: 767px) {
    .places__card {
        border-radius: 30px;
    }
}

@media  (max-width: 321px){
    .places__card {
        border-radius: 10px;
    }
}