.popup__button-submit {
    display: flex;
    border-radius: 2px;
    margin-bottom: 37px;
    max-width: 358px;
    background-color: black;
    height: 50px;
    text-decoration: none;
    color: white;
    justify-content: center;
}

.popup__button-submit:hover {
    opacity: 0.8;
}