.places__button-like {
    width: 22px;
    height: 19px;
    background-repeat: no-repeat;
    display: block;
    box-sizing: content-box;
    padding: 0;
    outline: none;
    border: none;
    background-color: white;
    cursor: pointer;
    background-image: url("../../../../images/like-button-old.svg");
    background-size: cover;
}

.places__button-like.like_active {
    background-image: url("../../../../images/like-button-active.svg");
}

.places__button-like:hover {
    opacity: 0.6;
}

.places__button-like:active {
    outline: none;
    border: none;
}

.places__button-like:focus {
    outline: none;
    border: none;
}
