.places__button-like {
    background-image: url("../../../images/like-button.svg");
    width: 22px;
    height: 19px;
    background-repeat: no-repeat;
    display: block;
}

.places__button-like:hover {
    opacity: 0.6;
}

.places__button-like:active {
    outline: none;
    border: none;
}

.places__button-like:focus {
    outline: none;
    border: none;
}

.places__button-like_active {
    background-image: url("../../../images/like-button-active.svg");
    background-repeat: no-repeat;
}
