.places__button-like {
    border: none;
    background-color: white;
    appearance: none;
    padding: 0;
}

.places__button-like:hover {
    opacity: 0.6;
}

.places__button-like:active {
    outline: none;
    border: none;
}

.places__button-like:focus {
    outline: none;
    border: none;
}

.places__button-like_active {
    background-image: url("../../../images/like-button-active.svg");
    background-repeat: no-repeat;
}
